html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f8fcff !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#__next {
  margin: 0 auto;
  max-width: 1440px;
}
.react-tel-input .form-control{
  border: 1px solid #002E77 !important
}
.special-label{
  left: 10px !important;
}
.country-list {
  height: 140px !important;
}